body {
  background-color: #e9ecef;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

header {
  color: #fff;
  background-color: #881c1c !important;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.img-left {
  max-width: 25%;
  height: auto;
  float: left;
}

.img-right {
  max-width: 25%;
  height: auto;
  float: right;
}

.left {
  padding-left: 25%;
}

.very-left {
  padding-left: 75%;
}
