%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to 'Acoustic Battleship', 'http://www.ecs.umass.edu/ece/sdp/sdp20/team05/index.html', class: 'navbar-brand'
  %button.navbar-toggler{'aria-controls' => 'navbarSupportedContent', 'aria-expanded' => 'false', 'aria-label' => 'Toggle navigation', 'data-target' => '#navbarSupportedContent', 'data-toggle' => 'collapse', :type => 'button'}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li.nav-item
        = link_to 'Specs', 'http://www.ecs.umass.edu/ece/sdp/sdp20/team05/specs.html', class: 'nav-link'
      %li.nav-item
        = link_to 'Team', 'http://www.ecs.umass.edu/ece/sdp/sdp20/team05/team.html', class: 'nav-link'
      %li.nav-item
        = link_to 'Downloads', 'http://www.ecs.umass.edu/ece/sdp/sdp20/team05/downloads.html', class: 'nav-link'
