---
title: "Specs"
---
= partial 'navbar'
= partial 'header', locals: { title: 'Requirements & Specifications', subtitle: '' }

%section
  .card.mb-3{ style: "border: 0px;" }
    .row.no-gutters
      .col-md-4
        %img.card-img{:alt => "block diagram", :src => "http://www.ecs.umass.edu/ece/sdp/sdp20/team05/images/block_diagram.jpg"}/
      .col-md-8
        .card-body
          %h5 Requirements
          %ul.left.lead
            %li Accuracy
            %li Responsivness

%section
  .card.mb-3{ style: "border: 0px;" }
    .row.no-gutters
      .col-md-4
        %img.card-img{:alt => "block diagram", :src => "http://www.ecs.umass.edu/ece/sdp/sdp20/team05/images/algorithm.jpg"}/
      .col-md-8
        .card-body
          %h5 Specifications
          %ul.left.lead
            %li Distance less than 5cm
            %li Response time less than 500ms

= partial 'footer'
