---
title: "Specs"
---
= partial 'navbar'
= partial 'header', locals: { title: 'Requirements & Specifications', subtitle: '' }

%section
  .container.mx-auto
    .row
      .span4.mb-2
        %img.img-right{ src: 'images/block_diagram.png' }
        %h3.left Requirements
        %ul.left.lead
          %li Accuracy
          %li Resonsivness

%section.bg-light
  .container.mx-auto
    .row
      .span4
        %img.img-left{ src: 'images/algorith.jpg' }
        %h3.text-right Specifications
        %ul.very-left.lead
          %li Distance less than 5cm
          %li Response Time less than 500ms

= partial 'footer'
