---
title: "Specs"
---
= partial 'navbar'
= partial 'header', locals: { title: 'Requirements & Specifications', subtitle: '' }

%section
  .container
    .row
      .span4
        %img.img-right{ src: 'images/block_diagram.jpg' }
        %h3 Requirements
        %ul.lead
          %li Accuracy
          %li Resonsivness

%section.bg-light
  .container
    .row
      .span4
        %img.img-right{ src: 'images/algorithm.jpg' }
        %h3 Specifications
        %ul.lead
          %li Distance less than 5cm
          %li Response Time less than 500ms

= partial 'footer'
